.sticky-footer {
	background-color: #343a40;
	/* Adjust the background color as needed */
	color: #ffffff;
	/* Adjust the text color as needed */
	padding: 10px 0;
	/* Adjust padding as needed */
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
}

main {
	margin-bottom: 65px;
	/* Adjust the margin to match the footer's height */
}